<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal">
	<Appenders>
		<File name="MyCustomLogFile" fileName="/tmp/TcpServer.log">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="MyCustomLogFile" />
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>